@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #006dff 21.43%,
    #0261e0 50.63%,
    #0055c7 100%,
    #0031c5 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px #006dff;
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #0031c5 21.43%,
    #0055c7 50.63%,
    #0261e0 100%,
    #006dff 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #0031c5 21.43%,
    #0055c7 50.63%,
    #0261e0 100%,
    #006dff 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#0031c5] to-[#006dff] font-bold font-primary hover:from-[#006dff] hover:to-[#0031c5];
  }
  .section {
    @apply my-8 lg:my-32 flex items-center;
  }
}
